body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -12px;
    margin-bottom: -60px;
}

.header-logo p {
    font-size: 24px;
    color: #f9faf8;
}

.header-links a {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 15px;
    padding-top: 14px;
}

li {
    display: flex;
}

a {
    text-decoration: none;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: -50px;
}

button, .cta-button {
    background: #3882f6;
    border-radius: 6px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 600;
    color: #f9faf8;
    border: none;
    margin-top: -10px;
    align-self: flex-start;
    font-family: Roboto;
}

.top-content-left {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.top-content-right {
    margin-right: 50px;
    background: #333333;
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 60px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #f9faf8;
    font-size: 18px;
}

.top {
    background: #1f2937;
    flex: 1;
    max-height: 30vh;
    margin-bottom: 0px;
}

.top-content {
    display: flex;
    justify-content: space-between;
}

.content-1 {
    background: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-height: 25vh;
    padding-left: 50px;
    padding-right: 50px;
}

.content-1-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 12px;
}

.content-1-bottom {
    display: flex;
    justify-content: center;
    margin-top: -21px;
    gap: 14px;
    padding-left: 100px;
    padding-right: 100px;
}

.content-1-square {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.square {
    outline: 3px solid #3882f6;
    border-radius: 5px;
    width: 90px;
    height: 90px;
}

.content-1-square p {
    font-size: 18px;
    display: flex;
    text-align: center;
    margin-top: 5px;
    text-wrap: wrap;
}

.content-2 {
    background: #e5e7eb;
    flex: 1;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    max-height: 26vh;
    justify-content: center;
}

.quote {
    margin-top: 15px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}

.author {
    margin-top: -45px;
    margin-right: 40px;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    justify-content: end;
}

.bottom {
    background: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.call-to-action {
    flex: 0.9;
    display: flex;
    justify-content: center;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #3882f6;
    border-radius: 5px;
    gap: 60px;
    align-items: center;
}

.footer {
    flex: 0.1;
    background: #1f2937;
}

.cta-title {
    font-size: 24px;
    color: #f9faf8;
    margin-left: -10px;
    margin-bottom: -15px;
}

.cta-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: -10px;
}

.cta-button {
    outline: 2px solid #e5e7eb;
    margin-top: 10px;
    margin-right: 0px;
}

.footer p {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 11px;
}

